body{
  font-family: 'Open Sans', sans-serif;
}
html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-menu,
.gist {
  text-align: left;
}

html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
}
a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
    top: 7px !important;
    font-size: 20px;
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
   box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}
#search{
  width: 396px;
  height: 30px;
  padding: 20px 12px;
  font-size: 20px;
  border: 2px solid #B6FBF4;
  color: #263937;
}
.cart{
  margin: 15px 0 0 20px;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 5px;
}
.inlineItem{
  display: inline-block;
}
.count-list{
    float: right;
    margin: 20px 35px 0 0;

}
.issue_list{
    margin: 20px 0 0 50px;
    font-size: 16px;
    line-height: 23px;
}
.Noresult{
      font-size: 17px;
      margin: 8px 0 0 35px;
}
.searchBarCover{
    width: 600px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 30px;
    margin-top: 80px;
}
.marginTop{
      margin-top: 20px;
}
.tag{
      background-color: #403e3e;
      padding: 10px;
      display: inline-block;
      font-size: 14px;
      border-radius: 4px;
  }
  .associated-list{
        margin-top: 4px;
  }
  .associated{
      margin-bottom: 10px;
      margin-left: 65px;
}

.issueCover,.userCover{
    margin: 20px 0 0 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 0 15px 15px;
}
.issueName,.userName,.userUrl{
    margin: 4px 0 0 50px;
    font-size: 16px;
}
.userImg{
      width: 10%;
      margin: 8px 0 0 50px;
}
.description{
  padding-top: 25px;
  width: 45%;
  margin: 0 auto;
}
.description p{
  margin-top: 5px;
  margin-left: 30px;
}